/* GENERAL RULES */
:root {
  font-family: "Open Sans", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <a> */
a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

a:hover {
  opacity: 50%;
}

/* pages */
/* AddTask.jsx */
form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

form label {
  height: 80px;
  display: flex;
  flex-direction: column;
}

/* pages_main_components */
/* Header.jsx */
header {
  height: 60px;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  margin: 0 50px;
  font-size: 20px;
}

/* page_single_components */