/* GENERAL RULES */
:root {
  font-family: "Open Sans", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <a> */
a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

a:hover {
  opacity: 50%;
}

/* <table> */
table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
}

/* pages */
/* AddTask.jsx */
form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

form label {
  height: 80px;
  display: flex;
  flex-direction: column;
}

/* pages_main_components */
/* Header.jsx */
header {
  height: 60px;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  margin: 0 50px;
  font-size: 20px;
}

/* page_single_components */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  padding: 20px;
}